.blurb    
    p.
        The modern web developer is contantly learning. 
        With the mainstream adoption of CSS3, the availability of quality 
        frameworks, and better tooling for developers, a lot of options have 
        opened up for greater aesthetic expression. Come to this 2 day workshop 
        and learn about the CSS landscape, the new additions to the language, 
        tools and frameworks, and how to develop professional web pages.