.blurb    
    p.
        The modern web developer is contantly learning. 
        With the mainstream adoption of CSS3, the availability of quality 
        frameworks, and better tooling for developers, a lot of options have 
        opened up for greater aesthetic expression. If <strong>you</strong> have <strong>basic-intermediate</strong> experience with CSS (say, about a year or more), come to this <strong>2 day workshop </strong>
        and learn about the landscape, the new additions to the language, 
        tools and frameworks, and how to develop professional web pages.