//- about hasgeek, register, venue, etc
.hasgeek
    h3 HasGeek
    p.
        HasGeek creates discussion spaces around emerging technologies to foster the growth 
        of communities. Since 2010, HasGeek has organized a number of conferences, hacknights 
        and geekups around open source, web design and development, big data, cloud computing 
        and mobile opportunities. The HasGeek Job Board connects thousands of individuals 
        every month with jobs around upcoming technologies. HasGeek also builds tools to assist 
        communities with organizing events and meetups. For more information, write to info@hasgeek.com

.venue 
    h3 Venue
    p.
        The workshop will be held at the Centre for Internet and Society (CIS), Bangalore. 
        The congenial atmosphere at CIS facilitates both formal and informal interactions, 
        and peer-to-peer learning.
    .cis
        img(class='cis-logo')
        #map

        | Map stuff