//- about hasgeek, register, venue, etc
.requirements
    h3 Requirements
    ul
        li laptop (running linux, windows, or os x.)
        li an urge to type

    p (After you register, Sunil will mail out links to software that you might need to install on your laptop.)
    
.register 
    h3 Register now!
    iframe(src='http://doattend.com/embed_ticket/26128', width='100%', height='300')
        | Oops!! Sorry you will have to 
        a(href = 'http://css-workshop.doattend.com') register here

.hasgeek
    //- h3 HasGeek
    img(class='hasgeek-logo', src='images/hasgeek.png', alt="HasGeek", title='HasGeek')
    p.
        HasGeek creates discussion spaces around emerging technologies to foster the growth 
        of communities. Since 2010, HasGeek has organized a number of conferences, hacknights 
        and geekups around open source, web design and development, big data, cloud computing 
        and mobile opportunities. The HasGeek Job Board connects thousands of individuals 
        every month with jobs around upcoming technologies. HasGeek also builds tools to assist 
        communities with organizing events and meetups. For more information, write to info@hasgeek.com

.venue 
    //- h3 Venue
    img(class='cis-logo', src='images/cis.png')
    p.
        The workshop will be held at the Centre for Internet and Society (CIS), Bangalore. 
        The congenial atmosphere at CIS facilitates both formal and informal interactions, 
        and peer-to-peer learning.
    .cis
