.hero
    .fb-1
        img(class='arrow', src='images/arrow-1.png', style='display:none')
        img(class='needs-logo', src='/images/needs-logo.png', style='display:none')
    .fb-2
        img(class='arrow', src='images/arrow-2.png', style='display:none')
        img(class='not-enough-pop', src='images/not-enough-pop.png', style='display:none')
    .by
        h3 
            img(class='hasgeek-logo', src='images/hasgeek.png')
            div(class='txt') Hasgeek presents



    .title
        h1 CSS for the soul
        strong An intensive 2 day workshop on the language, the tools and ecosystem, and best practices.