.schedule

    h2.title Day One
    
    .unit.intro
        img(src='images/schedule.png', class='schedule-scribble')
        img(class='grid-columns', src='images/grid-columns.png')
        h3 Introductions
        ul
            li Setup laptops with environments and tools.
            li
                strong From mockup to code
                | : How to convert a design to a web page.
            li
                strong Project kickoff
        

    .unit.everywhere
        h3 CSS everywhere
        p.
            A look at writing responsive CSS for phones, tablets, IE, webapps - the works! 
            We'll have a look at responsive design and media queries, flex(), 
            retina displays, and other crossbrowser strategies.
        .stretcher

    .unit.tooling
        h3 Tooling and Frameworks

        ul
            li 
                strong The Scene
                | : A look at tools and libraries available to the modern CSS developer.
            li 
                strong LESS
                | : An extensive look at LESS, a popular dynamic CSS language. 
                a(href='http://lesscss.org') (site)
            li 
                strong Bootstrap
                | : A deep dive into Twitter's Bootstrap, another popular CSS framework. 
                a(href='http://twitter.github.com/bootstrap/') (site)

    .unit.ddd
        h3 Design. Develop. Deploy.
        ul
            li
                strong Object Oriented vs Semantic CSS
                | : A look at two schools of thought on how to write and consume CSS.
            li How to make a styleguide, and collaborate in a team.
            li How to compile, optimize, and deploy code to a server. 
            li <strong>Bonus</strong>: How to work with CDNs.

        .fb-4(style='display:none')
            .post-it
                | needs to be 3d 
                br
                | j
            .post-it
                | no, not like that
                br
                | j
            .post-it
                | not like that either
                br
                | j
            .post-it
                | "The 3 Ds", dammit. 
                br
                | j


    h2.title(style='position:relative') 
        div(style='z-index:5; position:relative;') Day Two
        .hole-cnt            
            .nucleus
                .electron
                .electron
                .electron
                .electron
                .electron
                .electron
            img(class='hole',src='images/hole.png')                

    .unit.animations
        
        
        h3 Animate!
        ul
            li
                strong Basics
                | : A quick primer on the basics of animating CSS elements
            li 
                strong JS + CSS
                | : Scripting custom animations for UI, games, etc. 
                | We'll have a look at tweening, easing equations, common animation patterns in web pages,
                | and have some fun with the &lt;canvas&gt; element.
            li
                strong Libraries
                | : Popular JS/CSS Animation libraries, and how to use them in your next project.

    .unit.performance
        .bar-graph
        h3 Performance
        ul
            li The basics of writing performant crossbrowser CSS.
            li 
                strong Tools
                | : to measure CSS performance.
            li
                strong Like butter
                | : Strategies for smoother web pages
                | (incl. hardware acceleration, transitions and transforms, etc)

    .unit.new-stuff
        h3 The new stuff
        p.
            The "What's new?" section. We'll have a look at the new CSS3 attributes CSS3, 
            upcoming changes in the spec, and how we can leverage some of the new HTML5/CSS3 
            features in current applications. This includes CSS filters, shims/polyfills, 
            and degradation strategies.
        

    .unit.recap
        h3 Finale
        ul
            li A recap of everything we covered.
            li 
                strong Project
                | : wrap up our project and see how it all fit together. 

                