.speaker-pic
    img(src='images/avatar.png', alt='Sunil Pai', title='Sunil Pai')
    .fb-3
        .blue.comment(style='display:none')
            span.user k
            | too pretentious
        .green.comment(style='display:none') 
            span.user z
            | NOT ENOUGH WEB 2.0
        .green.comment(style='display:none') 
            span.user z
            | rounder
        .green.comment(style='display:none') 
            span.user z
            | ROUNDER
        .blue.comment(style='display:none') 
            span.user k
            |  perfect!

            



.speaker
    p.
       <strong>Sunil Pai</strong> has been a professional front end developer for 8 years. 
       He's cut his teeth on developing webapps and sites for startups, 
       design firms, the government, open source, and corporates. He's also a regular 
       speaker at hasgeek events, and chaired the programme committee for 
       jsfoo 2012. He currently runs his own firm, and thinks the world would be a better place 
       if we accepted the Postel Principle as common law. 

    a(href='http://twitter.com/threepointone') (twitter)


    