@import "elements.less";

// The micro clearfix http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix() {
    *zoom: 1;
    
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

body{    
    font-family: "PT Serif", sans-serif;
    font-size: 16px;
    line-height: 24px;
    -webkit-font-smoothing: subpixel-antialiased;

    // background-color: #eee;
}

h1, h2, h3, h4, h5, h6{
    font-family: "PT Sans", sans-serif;
}

strong{
    font-family: "PT Sans", sans-serif;
    text-transform: uppercase;
    font-weight: normal;
}


.container{
    width: 960px;
    margin: 20px auto;
}


.hero{
    strong{
        color:#777;
    }
}


.speaker-pic img
{
    width:150px;
    height:150px;
    .rounded(90px);
    .drop-shadow(2px, 2px, 10px, 0.3);
    border:5px solid white;
    
    display:block;
    position:relative;
    margin: 20px auto;
}


.schedule .unit, .blurb, .hero, .speaker, .hasgeek, .venue, .register {    
    
    background-color: white;
    // .drop-shadow(2px, 2px, 2px, 0.1);
    
    // border: 1px solid #eee;
    // .rounded(5px);
    
    padding: 40px;    
    margin-bottom: 40px;
}

.schedule .title{
    text-align: center;
}

.schedule .unit {
    h3{
        margin-bottom:16px;
    }
    ul li{
        list-style-type: circle;        
        
    }
    li, p{
        font-size: 16px;
        line-height: 24px;
    }

}

.register{
    .drop-shadow(2px, 2px, 10px, 0.3);
    padding-bottom:0;
    h3{
        padding-left: 20px;
    }
}

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
    .container{
        width:100%;
    }
    .schedule .unit, .blurb, .hero, .speaker{
        margin:10px;
    }
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {}
